In [71]:
import pandas as pd
import statsmodels.api as sm
from math import dist
from sklearn.metrics import mean_squared_error

In [8]:
%run '/Users/louisebonhomme/Documents/GitHub/BDC/Helpers/preprocessing.py'

In [9]:
df = pd.read_csv('/Users/louisebonhomme/Documents/GitHub/BDC/Data/df_Paris_Processed.csv')

## Cleaning iris variables

In [10]:
clean_iris_codes(df)

In [11]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df['type'] = df.dtypes.to_numpy()
missing_df

                     variable  missing values  filling factor (%)     type
0                 id_mutation               0               100.0   object
1               date_mutation               0               100.0   object
2             code_type_local               0               100.0  float64
3                code_commune               0               100.0    int64
4             surface_terrain               0               100.0  float64
5         surface_reelle_bati               0               100.0  float64
6   nombre_pieces_principales               0               100.0  float64
7              nature_culture               0               100.0   object
8             valeur_fonciere               0               100.0  float64
9                    latitude               0               100.0  float64
10                  longitude               0               100.0  float64
11                nombre_lots               0               100.0    int64
12         numero_disposition               0               100.0    int64
13           code_departement               0               100.0    int64
14                   geometry               0               100.0   object
15                  iris_code               0               100.0   object
16                  iris_name               0               100.0   object
17                    Prix_m2               0               100.0  float64
18                       Year               0               100.0    int64
19                      Month               0               100.0    int64
20     prix_m2_moy_surf_habit               0               100.0  float64
21        prix_m2_moy_terrain               0               100.0  float64

In [12]:
path = "/Users/louisebonhomme/Documents/GitHub/BDC/Data/reference_IRIS_geo2022.xlsx"
dep = '75'
nb_iris(df, path = path, dep_code = dep)

Length of all Paris IRIS : 992
Length of IRIS in DF : 890
Number of IRIS not in DF : 102


## Process sur les données 
- ajout trimestres
- pour Paris : distance au métro le plus proche 
- Nombre d'appartements et de maisons par IRIS
- Nombre de biens en location ou occupés par propriétaire par IRIS
- split appartement / maison : appartement (prix/m2), maison (prix)
- split temporel

**Ajout trimestres**

In [13]:
annee_trimestre(df)

**IPL Q-1**

In [14]:
ipl = pd.read_csv('/Users/louisebonhomme/Documents/GitHub/BDC/Data/IPL.csv', sep = ';').iloc[3:,:2]
ipl.columns = ['date','IPL']
ipl["IPL"].astype('float64')
ipl['quarter'] = ipl['date'].apply(lambda x : x[:4]+'_Q'+x[-1])
ipl['IPL_{Q-1}'] = ipl['IPL'].shift(-1)
ipl.drop(['date'], axis = 1, inplace = True)

In [15]:
ipl

      IPL  quarter IPL_{Q-1}
3   134.3  2022_Q3     130.8
4   130.8  2022_Q2     128.6
5   128.6  2022_Q1     127.5
6   127.5  2021_Q4     126.2
7   126.2  2021_Q3     122.5
8   122.5  2021_Q2     120.2
9   120.2  2021_Q1     119.3
10  119.3  2020_Q4     117.8
11  117.8  2020_Q3     115.5
12  115.5  2020_Q2     113.9
13  113.9  2020_Q1     112.7
14  112.7  2019_Q4     112.3
15  112.3  2019_Q3     109.8
16  109.8  2019_Q2     108.6
17  108.6  2019_Q1     108.6
18  108.6  2018_Q4     108.6
19  108.6  2018_Q3     106.4
20  106.4  2018_Q2     105.5
21  105.5  2018_Q1     105.2
22  105.2  2017_Q4     105.7
23  105.7  2017_Q3     103.5
24  103.5  2017_Q2     102.5
25  102.5  2017_Q1       NaN

In [16]:
df = df.merge(ipl, on = 'quarter')

In [17]:
df[['IPL_{Q-1}']].isnull().sum(axis=0)

IPL_{Q-1}    0
dtype: int64

**Variables par IRIS**

In [20]:
logt_iris = pd.read_excel("/Users/louisebonhomme/Documents/GitHub/BDC/Data/base-ic-logement-2018.xlsx", header = 5)

In [22]:
logt_iris.columns

Index(['IRIS', 'REG', 'DEP', 'UU2020', 'COM', 'LIBCOM', 'TRIRIS', 'GRD_QUART',
       'LIBIRIS', 'TYP_IRIS', 'MODIF_IRIS', 'LAB_IRIS', 'P18_LOG', 'P18_RP',
       'P18_RSECOCC', 'P18_LOGVAC', 'P18_MAISON', 'P18_APPART', 'P18_MEN',
       'P18_PMEN', 'P18_RP_PROP', 'P18_RP_LOC', 'P18_RP_GARL'],
      dtype='object')

In [23]:
logt_iris = logt_iris[["IRIS", "P18_LOG", "P18_RP", "P18_RSECOCC", "P18_LOGVAC", "P18_MAISON", "P18_APPART", "P18_RP_PROP", "P18_RP_LOC"]]

In [28]:
logt_iris.columns = ["iris_code", "N_logements", "N_res_ppale", "N_res_second", "N_vacant", "N_maisons", 'N_apparts', "N_proprietaire", "N_locataire"]

In [34]:
logt_iris[['N_logements', 'N_res_ppale', "N_res_second", "N_vacant", "N_maisons", 'N_apparts', "N_proprietaire", "N_locataire"]] = round(logt_iris[['N_logements', 'N_res_ppale', "N_res_second", "N_vacant", "N_maisons", 'N_apparts', "N_proprietaire", "N_locataire"]])

In [36]:
df = df.merge(logt_iris, on = 'iris_code')

In [165]:
df['iris_code'].unique()

array(['751031102', '751083203', '751082903', '751010201', '751031202',
       '751010202', '751083005', '751010204', '751083002', '751030901',
       '751031204', '751083001', '751031104', '751031001', '751010203',
       '751010301', '751010401', '751030903', '751083004', '751083105',
       '751083106', '751083003', '751083104', '751083102', '751030905',
       '751083207', '751031103', '751083103', '751083201', '751031003',
       '751083209', '751031201', '751082901', '751031101', '751030904',
       '751010402', '751083202', '751083206', '751083205', '751083107',
       '751010303', '751031002', '751082902', '751082904', '751083204',
       '751010102', '751031004', '751010103', '751030902', '751031203',
       '751010101', '751103706', '751062305', '751051805', '751051804',
       '751072506', '751062203', '751072604', '751051902', '751062402',
       '751062308', '751051903', '751062101', '751051901', '751062103',
       '751072805', '751051801', '751072505', '751051704', '751052001',
       '751072705', '751072502', '751072804', '751051701', '751062301',
       '751051908', '751072803', '751072501', '751062102', '751072811',
       '751052002', '751072602', '751062306', '751072810', '751072808',
       '751062304', '751051807', '751072703', '751062202', '751072806',
       '751062303', '751072801', '751051703', '751062309', '751062307',
       '751051806', '751051802', '751062401', '751052004', '751062302',
       '751051907', '751072504', '751072809', '751051702', '751072503',
       '751072601', '751072802', '751072702', '751062311', '751051705',
       '751052003', '751051808', '751072701', '751051803', '751062204',
       '751072807', '751051904', '751072704', '751072706', '751062310',
       '751051905', '751051906', '751072603', '751155814', '751104005',
       '751093605', '751093602', '751093607', '751103701', '751103910',
       '751103801', '751093403', '751104006', '751103806', '751103702',
       '751093503', '751093407', '751103902', '751093409', '751103905',
       '751103705', '751103704', '751103708', '751093606', '751093502',
       '751103901', '751103703', '751093306', '751103908', '751103906',
       '751104002', '751103804', '751103803', '751093608', '751103904',
       '751103802', '751103712', '751093603', '751103909', '751093610',
       '751093303', '751093609', '751104007', '751093311', '751104011',
       '751104003', '751104001', '751104008', '751093302', '751104010',
       '751093308', '751103903', '751093307', '751093304', '751103709',
       '751093504', '751093305', '751093601', '751103707', '751093310',
       '751104004', '751093405', '751093501', '751093309', '751103907',
       '751104009', '751093408', '751093604', '751093301', '751103805',
       '751114210', '751114316', '751114306', '751124611', '751124809',
       '751114321', '751124604', '751124605', '751124705', '751124608',
       '751114315', '751124624', '751114404', '751114312', '751124616',
       '751114209', '751114202', '751114302', '751124805', '751124503',
       '751114214', '751114115', '751124704', '751114409', '751124602',
       '751114104', '751124509', '751124502', '751114411', '751124808',
       '751114408', '751114106', '751124606', '751114208', '751124623',
       '751114111', '751124514', '751114311', '751114211', '751114107',
       '751124803', '751114212', '751124508', '751124609', '751124615',
       '751114110', '751114213', '751114114', '751114206', '751114109',
       '751124505', '751114317', '751124504', '751124513', '751114103',
       '751124807', '751114203', '751124507', '751114319', '751114304',
       '751114307', '751124621', '751124613', '751114204', '751124618',
       '751124512', '751114102', '751124601', '751114401', '751114318',
       '751114406', '751114305', '751124703', '751114403', '751124804',
       '751124801', '751114105', '751114314', '751124614', '751114205',
       '751114412', '751124806', '751114402', '751124610', '751124612',
       '751124622', '751114407', '751114320', '751114113', '751114413',
       '751124619', '751114207', '751114101', '751114310', '751124810',
       '751114112', '751114308', '751114410', '751124617', '751114301',
       '751114405', '751114201', '751124603', '751124620', '751114303',
       '751114309', '751124506', '751124802', '751114108', '751124812',
       '751134902', '751135125', '751135203', '751135106', '751135123',
       '751134904', '751134905', '751135112', '751134907', '751135019',
       '751135110', '751135020', '751135010', '751134906', '751135008',
       '751135111', '751135014', '751135005', '751135207', '751135113',
       '751135124', '751135122', '751135116', '751135104', '751135012',
       '751135004', '751135003', '751135117', '751135016', '751135024',
       '751135109', '751135027', '751135205', '751135202', '751135201',
       '751135114', '751135118', '751135121', '751134903', '751135115',
       '751135011', '751135206', '751135204', '751135120', '751135017',
       '751135105', '751135021', '751135103', '751135028', '751145621',
       '751145616', '751145502', '751145607', '751145406', '751145512',
       '751145305', '751145511', '751145506', '751145608', '751145302',
       '751145516', '751145611', '751145508', '751145605', '751145404',
       '751145514', '751145507', '751145405', '751145515', '751145609',
       '751145403', '751145309', '751145310', '751145622', '751145614',
       '751145604', '751145513', '751145623', '751145306', '751145307',
       '751145505', '751145504', '751145624', '751145613', '751145303',
       '751145510', '751145402', '751145618', '751145615', '751145308',
       '751145619', '751145620', '751145509', '751145612', '751145606',
       '751145610', '751145304', '751145301', '751155919', '751155912',
       '751156020', '751155707', '751155723', '751155722', '751155719',
       '751155906', '751155806', '751155724', '751155805', '751155710',
       '751155728', '751155706', '751156013', '751155810', '751156002',
       '751155714', '751156018', '751155711', '751155703', '751155910',
       '751155730', '751155713', '751155917', '751155905', '751155720',
       '751155709', '751155902', '751155815', '751156003', '751155812',
       '751155813', '751156012', '751155721', '751155715', '751155718',
       '751155903', '751156019', '751155726', '751155725', '751155915',
       '751155807', '751155727', '751155908', '751155914', '751155702',
       '751155907', '751156004', '751155708', '751155920', '751155731',
       '751155913', '751155803', '751155904', '751155911', '751156007',
       '751155804', '751155817', '751156005', '751155909', '751155704',
       '751155809', '751155816', '751155729', '751156010', '751155705',
       '751155811', '751155901', '751155716', '751155712', '751155918',
       '751156006', '751156016', '751156017', '751155916', '751155808',
       '751156008', '751155717', '751156015', '751155802', '751156014',
       '751155801', '751166310', '751166214', '751166114', '751166212',
       '751166407', '751166205', '751166304', '751166115', '751166101',
       '751166307', '751166106', '751166120', '751166302', '751166127',
       '751166109', '751166218', '751166211', '751166221', '751166405',
       '751166220', '751166201', '751166117', '751166110', '751166102',
       '751166113', '751166303', '751166206', '751166130', '751166402',
       '751166123', '751166404', '751166103', '751166308', '751166215',
       '751166406', '751166219', '751166111', '751166204', '751166403',
       '751166128', '751166412', '751166119', '751166126', '751166203',
       '751166217', '751166209', '751166208', '751166409', '751166213',
       '751166116', '751166118', '751166413', '751166122', '751166311',
       '751166112', '751166121', '751166401', '751166202', '751166207',
       '751166216', '751166125', '751166210', '751166105', '751166107',
       '751166124', '751166309', '751166129', '751166301', '751166305',
       '751166306', '751176710', '751176708', '751176703', '751176809',
       '751176701', '751176502', '751176603', '751176807', '751176712',
       '751176805', '751176715', '751176512', '751176802', '751176713',
       '751176714', '751176503', '751176801', '751176609', '751176604',
       '751176510', '751176514', '751176608', '751176804', '751176507',
       '751176810', '751176611', '751176606', '751176812', '751176612',
       '751176707', '751176808', '751176803', '751176513', '751176509',
       '751176806', '751176607', '751176711', '751176504', '751176814',
       '751176508', '751176704', '751176702', '751176501', '751176515',
       '751176716', '751176811', '751176705', '751176506', '751176601',
       '751176709', '751176813', '751176613', '751176605', '751176706',
       '751176610', '751176511', '751176815', '751176602', '751176614',
       '751176505', '751187004', '751186920', '751187017', '751186906',
       '751187107', '751187001', '751186908', '751187204', '751187026',
       '751186909', '751186915', '751187010', '751187021', '751187105',
       '751186907', '751187006', '751187003', '751187101', '751186910',
       '751186925', '751187009', '751187002', '751187103', '751187020',
       '751186916', '751187102', '751186917', '751186923', '751187022',
       '751186903', '751187110', '751186902', '751187014', '751186918',
       '751187018', '751187011', '751186904', '751187012', '751187019',
       '751187008', '751186922', '751186919', '751187106', '751187025',
       '751186901', '751186911', '751187013', '751186905', '751186924',
       '751187104', '751187005', '751187205', '751186912', '751187024',
       '751187108', '751187023', '751187109', '751187016', '751187007',
       '751187206', '751187201', '751186914', '751187207', '751186921',
       '751186913', '751187015', '751187202', '751187203', '751197408',
       '751197303', '751197311', '751207702', '751207711', '751197309',
       '751207912', '751197302', '751197611', '751197312', '751207915',
       '751197515', '751207809', '751197524', '751197308', '751207704',
       '751207714', '751207701', '751197301', '751197604', '751207710',
       '751207815', '751197521', '751197612', '751208016', '751197510',
       '751207913', '751207810', '751207802', '751207905', '751197388',
       '751197404', '751208007', '751207805', '751207904', '751197314',
       '751197516', '751197501', '751197316', '751207816', '751208019',
       '751207706', '751207808', '751208006', '751208023', '751207908',
       '751207813', '751207806', '751197405', '751208002', '751208013',
       '751197514', '751208026', '751207712', '751197506', '751208010',
       '751197609', '751208004', '751207709', '751197315', '751207812',
       '751197305', '751197406', '751197522', '751207901', '751197403',
       '751208024', '751207707', '751197512', '751197508', '751207914',
       '751208003', '751208012', '751207902', '751207909', '751197517',
       '751197307', '751197607', '751208018', '751197602', '751207903',
       '751197608', '751197614', '751207916', '751207907', '751208015',
       '751197507', '751207911', '751197603', '751197503', '751207708',
       '751208014', '751197304', '751207906', '751207814', '751208025',
       '751208022', '751207910', '751197601', '751197401', '751197313',
       '751197402', '751207811', '751207713', '751197605', '751197502',
       '751208005', '751207703', '751207807', '751197615', '751197606',
       '751197310', '751197610', '751197613', '751207705', '751208017',
       '751197511', '751197520', '751208011', '751197519', '751041302',
       '751020805', '751020804', '751041404', '751041601', '751020702',
       '751041403', '751020802', '751041502', '751020801', '751020703',
       '751041402', '751041504', '751041303', '751041602', '751041503',
       '751041301', '751020803', '751041501', '751020704', '751041401',
       '751020602', '751020701', '751020503', '751020601', '751020501',
       '751010206', '751083108', '751083006', '751083210', '751124511',
       '751124702', '751124813', '751135030', '751135025', '751135023',
       '751145625', '751166377', '751176615', '751187208', '751197505',
       '751197518', '751207801', '751197317', '751197525', '751082905',
       '751083208', '751083101', '751124701', '751135029', '751135013',
       '751145503', '751156009', '751166410', '751166108', '751197509',
       '751197523', '751197409', '751197411', '751020502', '751093401',
       '751135006', '751155701', '751166223', '751197616', '751197410',
       '751135026', '751135107', '751135009', '751156001', '751197504',
       '751072812', '751124707', '751197306', '751134908', '751155818',
       '751197513', '751052005', '751145617', '751166411', '751176817',
       '751041304', '751104012', '751010302', '751135101', '751197407',
       '751135119', '751135102', '751208001', '751166104', '751156022'],
      dtype=object)

**Ajout distance métro le plus proche**

**ATTENTION : FONCTIONNE QUE POUR PARIS!**

In [40]:
metros = pd.read_csv('/Users/louisebonhomme/Documents/GitHub/BDC/Data/df_metro_paris_spatial.csv')

In [42]:
metros['iris_code'] = metros['iris_code'].str[2:11]

In [184]:
df['Arrondissement'] = df['iris_code'].str[:5]
metros['Arrondissement'] = metros['iris_code'].str[:5]

In [276]:
def num_dist_metro(test) : 
    metro_iris = metros[metros['iris_code'] == test.iris_code]
    metro_arr = metros[metros['Arrondissement'] == test.Arrondissement]
    #print(metro_iris.shape[0])
    N_metros_iris = metro_iris.shape[0]
    N_metros_arr = metro_arr.shape[0]

    distances = []
    
    if N_metros_iris > 0: 
        for i in range(metro_iris.shape[0]) : 
            latitude_metro = metro_iris['Latitude'].iloc[i]
            longitude_metro = metro_iris['Longitude'].iloc[i]
            point_metro = [latitude_metro, longitude_metro]
            point_bien = [test.latitude, test.longitude]
            distances.append(dist(point_bien, point_metro))
    else :
        for i in range(metro_arr.shape[0]) : 
        
            latitude_metro = metro_arr['Latitude'].iloc[i]
            longitude_metro = metro_arr['Longitude'].iloc[i]
            point_metro = [latitude_metro, longitude_metro]
            point_bien = [test.latitude, test.longitude]
            distances.append(dist(point_bien, point_metro))
    dist_metro = np.min(distances)
    
    return(N_metros_iris, distances)

In [278]:
for i in range(metro_arr.shape[0]) : 
    latitude_metro = metro_arr['Latitude'].iloc[i]
    longitude_metro = metro_arr['Longitude'].iloc[i]
    point_metro = [latitude_metro, longitude_metro]
    point_bien = [test.latitude, test.longitude]
    distances.append(dist(point_bien, point_metro))
dist_metro = np.min(distances)

In [285]:
N_metros_list = []
N_metros_list_arr = []
dist_metros_list = []
error = []
for i in range(df.shape[0]):
    logt = df[['latitude', 'longitude', 'iris_code', 'Arrondissement']].iloc[i,:]
    N_metros_list.append(num_dist_metro(logt)[0])
    dist_metros_list.append(num_dist_metro(logt)[1])

KeyboardInterrupt

In [ ]:
df['n_metros_iris'] = N_metros_list
df['dist_metro'] = dist_metros_list

In [ ]:
df.head()

**Split appart/maison**

In [17]:
df_maison , df_appart = split_appart_maison(df)

Nombre de maisons : 493
Nombre d'apparts : 144048

### Split données 

There are 20 quarters

In [242]:
missing_df = df_appart.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df_appart.shape[0]-missing_df['missing values'])/df_appart.shape[0]*100
missing_df['type'] = df_appart.dtypes.to_numpy()
missing_df

,variable,missing values,filling factor (%),type
0,id_mutation,0,100.0,object
1,date_mutation,0,100.0,datetime64[ns]
2,code_type_local,0,100.0,float64
3,code_commune,0,100.0,int64
4,surface_terrain,0,100.0,float64
5,surface_reelle_bati,0,100.0,float64
6,nombre_pieces_principales,0,100.0,float64
7,nature_culture,0,100.0,object
8,valeur_fonciere,0,100.0,float64
9,latitude,0,100.0,float64
10,longitude,0,100.0,float64
11,nombre_lots,0,100.0,int64
12,numero_disposition,0,100.0,int64
13,code_departement,0,100.0,int64
14,geometry,0,100.0,object
15,iris_code,0,100.0,object
16,iris_name,0,100.0,object
17,Prix_m2,0,100.0,float64
18,Year,0,100.0,int64
19,Month,0,100.0,int64
20,prix_m2_moy_surf_habit,0,100.0,float64
21,prix_m2_moy_terrain,0,100.0,float64
22,num_trimestre,0,100.0,int64
23,quarter,0,100.0,object
24,IPL,0,100.0,object
25,IPL_{Q-1},0,100.0,float64

In [243]:
df_train = df_appart[df_appart['date_mutation'] < '2021-04-01']
df_test = df_appart[df_appart['date_mutation'] >= '2021-04-01']

print(f'Train size : {round(df_train.shape[0]/df.shape[0], 2)*100}%')
print(f'Test size : {round(df_test.shape[0]/df.shape[0], 2)*100}%')

Train size : 73.0%
Test size : 26.0%

**Régression OLS**

Variables utilisées : 
- Y = prix/m2
- surface_terrain ?
- surface_reelle_bati
- nombre_pieces_principales
- ajouter Y_t-1 ?

In [248]:
Features = ['surface_terrain', 'surface_reelle_bati', 'nombre_pieces_principales', 'IPL_{Q-1}']
Label = 'Prix_m2'

Y_train = df_train[Label]
X_train = df_train[Features]

Y_test = df_test[Label]
X_test = df_test[Features]

In [249]:
X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)

model = sm.OLS(Y_train, X_train).fit()

In [250]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Prix_m2   R-squared:                       0.064
Model:                            OLS   Adj. R-squared:                  0.064
Method:                 Least Squares   F-statistic:                     1814.
Date:                Tue, 07 Mar 2023   Prob (F-statistic):               0.00
Time:                        11:42:46   Log-Likelihood:            -1.4656e+05
No. Observations:              106171   AIC:                         2.931e+05
Df Residuals:                  106166   BIC:                         2.932e+05
Df Model:                           4
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         0.1037      0.004     26.622      0.000       0.096       0.111
surface_terrain              -0.0047      0.003     -1.424      0.154      -0.011       0.002
surface_reelle_bati           0.2123      0.006     36.643      0.000       0.201       0.224
nombre_pieces_principales    -0.1155      0.006    -19.842      0.000      -0.127      -0.104
IPL_{Q-1}                     0.3737      0.005     73.864      0.000       0.364       0.384
==============================================================================
Omnibus:                    88032.877   Durbin-Watson:                   1.343
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         76401300.715
Skew:                           2.786   Prob(JB):                         0.00
Kurtosis:                     134.299   Cond. No.                         3.68
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [254]:
mean_squared_error(Y_test, model.predict(X_test))

1.1070087458229645